
html {
  background-image: url("../imgs/languagePicture.jpeg");
  background-size: cover;
  background-position: center center;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  border: solid black 2px;
  box-shadow: 5px 5px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

h2 {
  border: solid black 2px;
  box-shadow: 5px 5px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}


ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}

li {
  border: solid black 2px;
  box-shadow: 5px 5px;
  padding: 15px 20px;
}

li:hover {
  background-color:#808080;
}

footer {
  text-align: center;
  align-self: flex-end;
}

.container {
  max-width: 940px;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.content-container {
  border-top: solid black 2px;
  border-bottom: solid black 2px;
  display: flex;
}

.content {
  background: linear-gradient(#e66465, #9198e5);
  box-sizing: border-box;
  flex: 1;
  padding: 15px;

}

.aside-content {
  flex: 1;
  padding: 15px;
  box-sizing: border-box;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  display: flex;
  gap: 30px;
}


@media screen and (max-width: 700px) {
  .aside-content,
  .content {
    width: auto;
    float: none;
  }
}

@media screen and (max-width:300px) {
  .container {
    margin-top: 25px;
  }
  .aside-content {
    background: linear-gradient(to left, blue, white)
  }
  footer,
  h2 {
    display: none;
  }
  li {
    width: 33%;
  }
}
